/*Header adjustments*/
$headings-color: #D04F4F;
$link-decoration: none;

/*Search field adjustments*/
$input-group-addon-bg: #E7E7E7;
$secondary: #E7E7E7;
$input-group-addon-border-color: #E7E7E7;
$input-border-color: #E7E7E7;
$input-font-size: 2rem;
$input-placeholder-color: rgb(150, 150, 150);